.find {
	width: 1280px;
	margin: 0 auto;
}

.find > h1{
	font-size: 24px;
	width: 600px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px 0 0;
	line-height: 40px;
	margin-bottom: 50px;
}

.find > .find_view{
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.find > .find_view > ul{
	width: 450px;
	list-style-type: none;
	padding: 0;
	margin: 50px auto;
}

.find > .find_view > ul li{
	margin-bottom: 10px;
}

.find > .find_view > ul li > h2{
	margin: 0;
	font-size: 20px;
}

.find > .find_view > ul .text_center{
	margin: 0;
	text-align: center;
}

.find > .find_view > ul .sub_text{
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	margin-bottom: 5px;
}

.find > .find_view > ul .radio_check_view{
	margin-bottom: 20px;
}

.find > .find_view > ul .radio_check_view > span{
	font-size: 0;
}

.find > .find_view > ul .radio_check_view > span > label, input[type="radio"]{
	font-size: 1rem;
	cursor: pointer;
}

.find > .find_view > ul .radio_check_view > span > label[for="email"]{
	margin-right: 15px;
}

.find > .find_view > ul .data_view{
	font-size: 0;
}

.find > .find_view > ul li > .first_span{
	display: inline-block;
	width: 150px;
	font-size: 1rem;
}

.find > .find_view > ul li > .last_span{
	display: inline-block;
	width: 300px;
	font-size: 1rem;
}

.find > .find_view > ul li .last_span > input[name="name"], input[name="email"], input[name="id"]{
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	line-height: 34px;
	height: 34px;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-indent: 5px;
}

.find > .find_view > ul .hand_phone_view{
	display: none;
}

.find > .find_view > ul .hand_phone_view > .last_span{
	font-size: 0;
}

.find > .find_view > ul .hand_phone_view > .last_span > input{
	width: 30%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	line-height: 34px;
	height: 34px;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-indent: 5px;
}

.find > .find_view > ul .hand_phone_view > .last_span > span{
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	width: 5%;
}

.find > .find_view > ul li > .find_but{
	width: 100%;
	height: 55px;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.8);
	outline: none;
	cursor: pointer;
	padding: 0;
	line-height: 55px;
	font-size: 18px;
	margin-top: 10px;
}