.reset{
	width: 1280px;
	margin: 0 auto;
}

.reset > h1{
	font-size: 24px;
	width: 600px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px 0 0;
	line-height: 40px;
	margin-bottom: 50px;
}

.reset > .reset_view{
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.reset_view > ul{
	width: 450px;
	list-style-type: none;
	padding: 0;
	margin: 50px auto;
}

.reset_view ul li{
	margin-bottom: 5px;
}

.reset_view ul > li:last-child{
	margin-bottom: 0;
	margin-top: 30px;
	font-size: 0;
}

.reset_view ul li > h2{
	margin: 0;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
}

.reset_view ul li.information_view{
	font-size: 0;
}

.reset_view ul li.information_view > span{
	font-size: 1rem;
	display: inline-block;
	line-height: 30px;
}

.reset_view ul li.information_view > span:first-child{
	width: 150px;
}

.reset_view ul li.information_view > span:last-child{
	width: 300px;
}

.reset_view ul li.information_view > span.text_view{
	padding-left: 150px;
	width: 300px;
	font-size: 14px;
	opacity: 0.5;
	line-height: 1rem;
	margin-bottom: 5px;
}

.reset_view ul li.information_view > span.data_info{
	color: rgb(216, 86, 51);
	font-weight: bold;
}

.reset_view ul li.information_view span:last-child > input[type="password"]{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
	text-indent: 5px;
}

.reset_view ul > li:last-child > button{
	width: 49%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	outline: none;
	height: 55px;
	cursor: pointer;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
}

.reset_view ul > li:last-child > button:first-child{
	margin-right: 2%;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.8);
}