.main_view > h1 {
	font-size: 18px;
	margin: 0 0 10px;
	font-weight: normal;
}

.good_view{
	padding: 10px;
	background-color: rgb(255, 255, 255);
}

.good_view table{
	width: 100%;
	border-collapse: collapse;
}

.good_view table tr{
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.good_view table tr td{
	padding: 0;
}

.good_view table tr td:first-child{
	width: 250px;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	text-indent: 5px;
}

.good_view table tr td form > input{
	width: 500px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	outline: none;
	padding: 0;
	box-sizing: border-box;
	margin: 5px;
	text-indent: 5px;
}

.good_view table tr td select{
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	outline: none;
	padding: 0;
	box-sizing: border-box;
	margin: 5px;
}


.good_view table tr:last-child td {
	text-align: center;
}

.good_view table tr:last-child td button{
	width: 250px;
	height: 50px;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	font-size: 17px;
	padding: 0;
	box-sizing: border-box;
	margin: 5px 0;
}